.card {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-image: asset-url("cinema.jpg");
  background-position: center;
  background-size: cover;
  height: 180px;
  width: 100%;
  size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
